<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define log levels (Trace, Debug, Info, Warn, Error, Fatal) -->
	<targets>
		<!-- Log to a file -->
		<target name="logfile" xsi:type="File" fileName="logs/app-log.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception}" />

		<!-- Log to the console -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} | ${level} | ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log everything from Info and above to both file and console -->
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>

</nlog>
